<!DOCTYPE HTML>
<html>
<head>
    <link href="../css/demo1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <h1>City Gallery</h1>
    </div>
    <div id="nav">
        London<br /><br />
        Paris<br /><br />
        Tokyo<br /><br />
    </div>
    <div id="section">
        <h1>London</h1>
        <p>
        London is the capital city of England. It is the most popular city in UK,
        with a metropolitan area of over 13 million inhabitants.
        Standing on the River Thames, London has been a major settlement for two millennia.
        what the hell introduction it is!!!!
        </p>
    </div>
    <div id="footer">
        Copyright Cc Practice
    </div>
</body>
</html>
